@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Lora&family=Montserrat:wght@300&family=Open+Sans&display=swap');


:root{
    --logo:white;
    --nav-color: white;
    -main-text: white;
    --bg-img:linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #daa749,
        #bdbd42
    );

}

header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;;
  
    a{
        text-decoration: none;
    }
}
nav{
    // display: flex;
    // justify-content: space-around;
    // margin: 1em;
    z-index: 1;
    li{
        list-style: none;
        // margin-left: 2em;
        font-family: 'Poppins';
// font-style: normal;
// font-weight: 400;
// font-size: 20px;
// line-height: 30px;
    }
   a{
  
    //    color: rgb(230, 221, 221);
   } 
}
.logo{
   
    background-image: var(--bg-img);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    
        // padding: 0;
        // // margin: 1em;
        // font-size: 2em;
        // white-space: nowrap;
        // overflow: hidden;
        // width: 175px;

}
