@media (max-width: 400px){
    .bg-text {
        // background-color: rgb(0,0,0); /* Fallback color */
        // background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        // border: 3px solid #b4a7a7;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 30%;
        padding: 10px;
        text-align: center;
      }
      .visit{
          font-size: 1em;
          font-family: sans-serif;
          line-height: 1.4em;
      }
      

}