* {
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
  }
  .container__progressbars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 270px;
    width: 100%;
    min-height: 100%;
  }
  .progressbar {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 1em;
    transform: rotate(-90deg);
  }
  .progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 12;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: rgba(13, 13, 13, 0.911);
    stroke-linecap: round;
    transform: translate(5px, 5px);
  }
  .shadow-html {
    filter: drop-shadow(0 0 5px #f63);
  }
  .shadow-css {
    filter: drop-shadow(0 0 5px #3bf);
  }
  .shadow-scss {
    filter: drop-shadow(0 0 5px #f3f);
  }
  .shadow-js {
    filter: drop-shadow(0 0 5px #ff3);
  }
  .shadow-react {
    filter: drop-shadow(0 0 5px #3ff);
  }
  .circle-html {
    animation: anim_circle-html 1s ease-in-out forwards;
  }
  .circle-css {
    animation: anim_circle-css 1s ease-in-out forwards;
  }
  .circle-scss {
    animation: anim_circle-scss 1s ease-in-out forwards;
  }
  .circle-js {
    animation: anim_circle-js 1s ease-in-out forwards;
  }
  .circle-react {
    animation: anim_circle-react 1s ease-in-out forwards;
  }
  .progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: #050505;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  @keyframes anim_circle-html {
    to {
      stroke-dashoffset: 22;
    }
  }
  @keyframes anim_circle-css {
    to {
      stroke-dashoffset: 66;
    }
  }
  @keyframes anim_circle-scss {
    to {
      stroke-dashoffset: 102;
    }
  }
  @keyframes anim_circle-js {
    to {
      stroke-dashoffset: 179;
    }
  }
  @keyframes anim_circle-react {
    to {
      stroke-dashoffset: 357.2;
    }
  }
  /* burger_menu */
  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 0 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #df909f;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #cc70b5, #942b4e);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }
  /* logo */
  @import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Lora&family=Montserrat:wght@300&family=Open+Sans&display=swap');


:root{
    --logo:white;
    --nav-color: white;
    -main-text: white;
    --bg-img:linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #daa749,
        #bdbd42
    );

}

header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;;
  
   
}
header>nav>a{
    
        text-decoration: none;
    
}
nav{

    z-index: 1;
   
  
}
nav>li{

        list-style: none;
     

    
}
.logo{
   
    background-image: var(--bg-img);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    

}
/* background img */
.car_img {
    background-image: url('https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/carbon.png');
    
}
.hog_img{
    background-image: url('https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/hogwarts1.png');

}
.garn_img{
    background-image: url('https://www.anugraph.com/files/seyi-ariyo-zlROZagixXY-unsplash.jpg');
   
}
.bg-image {
    /* The image used */
   
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgba(0, 0, 0, 0.26); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    font-weight: bold;
    border: 3px solid #b4a7a7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 50px;
    text-align: center; }
  