
body{
    background-color: rgba(245, 245, 245, 0.979);
    color: rgb(24, 23, 23);
}

.visit{


background: linear-gradient(180deg, #6d215c 0%, #a54469 100%);
padding: 0.6rem;
border-radius: 10px;
border: 1px solid;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25.4046px;
line-height: 38px;
letter-spacing: 0.05em;
text-transform: capitalize;


color: #e7e2e2;
transition: all 0.5s;
}
.visit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .visit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .visit:hover span {
    padding-right: 25px;
  }
  
  .visit:hover span:after {
    opacity: 1;
    right: 0;
  }

.profile-2{


background: url(/public/img/profil.png);
}
.heading_about{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 93.8844px;
line-height: 141px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* // color: #FFFFFF; */
}


.line{
    

width: 174.78px;
height: 0px;


border: 2px solid #444444;
}


.project1{
 
height: 352.91px;


background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/capture.png);
background-repeat: no-repeat;
}
.project2{
   
    height: 352.91px;
    
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/XiKe2H.jpg); 
}
.project3{

    height: 352.91px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/XiKe2H.jpg); 
}
.project4{
 
    height: 352.91px;
   
    
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/XiKe2H.jpg); 
}

.headline{
    font-family:monospace;
font-style: normal;
font-size: 2em;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)) ;

}

h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2.6em;
line-height: 85px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* // color: #FFFFFF; */
}


@media (max-width: 400px){
    .bg-text {
    
        color: white;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 30%;
        padding: 10px;
        text-align: center;
      }
      .visit{
          font-size: 1em;
          font-family: sans-serif;
          line-height: 1.4em;
      }
      

}
