@import "./components.css";
html{
    --bg: #fff;
    --bg-panel: #d3b8b8;
    --color-heading: rgb(9, 80, 3); 
    --color-text: #2b2929;

    --border: rgba( 0, 0, 0,0.5)
    --bg-img:linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #daa749,
        #bdbd42
    );
    --btn: linear-gradient(180deg, #6d215c 0%, #a54469 100%);
  }
  /* dark theme styling - Here, we set data-them as "dark"*/
  html[data-theme='dark'] {
    --bg: #131212;
    --bg-panel: #4e4d4d;
    --color-heading: #949356; 
    --color-text: #e2dee2;
   
    --border: rgb(184, 174, 174);
    --bg-img:linear-gradient(
        45deg,
        #aea7bb,
        #968190,
        #ca6780,
        #ac6c57,
        #504c46,
        #3a3a35
    );
    --btn: linear-gradient(180deg, #3a3839 0%, #6b6064 100%);
  }
body{
    background-color: var(--bg);
    color: var(--color-text);
}

.visit{


background: var(--btn);
padding: 0.6rem;
border-radius: 10px;
border: 1px solid;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25.4046px;
line-height: 38px;
letter-spacing: 0.05em;
text-transform: capitalize;


color: #e7e2e2;
transition: all 0.5s;
}
.visit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .visit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .visit:hover span {
    padding-right: 25px;
  }
  
  .visit:hover span:after {
    opacity: 1;
    right: 0;
  }

.profile-2{


background: url(/public/img/profil.png);
}
.heading_about{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 93.8844px;
line-height: 141px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* // color: #FFFFFF; */
}


.line{
    

width: 174.78px;
height: 0px;


border: 2px solid #444444;
}


.project1{
 
height: 352.91px;


background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/capture.png);
background-repeat: no-repeat;
}
.project2{
   
    height: 352.91px;
    
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/XiKe2H.jpg); 
}
.project3{

    height: 352.91px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/XiKe2H.jpg); 
}
.project4{
 
    height: 352.91px;
   
    
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(https://www.anugraph.com/files/portfolio5/my_portfolio/public/img/XiKe2H.jpg); 
}

.headline{
    font-family:monospace;
font-style: normal;
font-size: 2em;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)) ;

}

h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2.6em;
line-height: 85px;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: capitalize;

/* // color: #FFFFFF; */
}


@media (max-width: 400px){
    .bg-text {
    
        color: white;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 30%;
        padding: 10px;
        text-align: center;
      }
      .visit{
          font-size: 1em;
          font-family: sans-serif;
          line-height: 1.4em;
      }
      .change-bg {
        width: 320px;
        height: 460px;
        transform: translate(-60%,-30%);
      }
      

}

  input[type=checkbox] { /* styling for input element */
    height: 0;
    width: 0;
    visibility: hidden;
  
  }
  
  label { /* styling for labels */
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background:var(--color-text);
    float: right;
    border-radius: 100px;
    position: relative;
   
  }
  
label:after { /* styling for labels - on toggle */
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--bg);
      border-radius: 100px;
    -webkit-transition: 0.2s;
    transition: 0.3s;
  }
  
  input:checked + label { /* conditional check while toggling */
    background: var(--color-text);
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  label:active:after {
    width: 40px;
  }
  #footer{
      background: var(--bg-img);
      color: var(--color-text);
  }